/* BANNER */
.banner-area {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/media/backgounds/image1.jpg');
    /* update with your image path */
}

.container {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-image: url("/media/backgounds/image1.jpg");
    /* Adjust path if needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-emphasis-color: black;
}

/* Content */


